*{
    box-sizing: border-box;
}

header{
    background: pink;
    height: 80px;
}


body {
    width: 50vw;
    height: 60vh;
    display: flex;
    
    flex-flow: column;
    padding: 0;
    margin: 0;
    background: rgb(247, 247, 247);

}

form{
background: #ccc;
display: flex;
flex-flow: column wrap;
padding: 200px;
border-radius: 30px;


}

input{
    width: 90%;
    height: 30px;
    border-radius: 15px;
    margin: 6px;
    padding: 10px;
}

textarea{
    width: 90%;
    height: 100px;
    border-radius: 15px;
    margin: 6px;
    padding: 50px;
}

button{
    background: cornflowerblue;
    color: whitesmoke;
    padding: 10px 4px;
    border: none;
    cursor: pointer;


}

button:hover{
    background: rgb(28, 6, 70);
}




